.grid-container {
    display: grid;
    grid-template-columns: repeat(8, auto);
    grid-template-rows: repeat(8, auto);
    grid-gap: 4px;
}

.image-gallery__image {
    display: inline;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-gallery__image-1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.image-gallery__image-2 {

}

.image-gallery__image-3 {

}

.image-gallery__image-4 {

}

.image-gallery__image-5 {

}

.image-gallery__image-6 {

}
